In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df=pd.read_csv('train.csv')
df.head()

,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,1992,12,13,-4.99,156.0,4.8,-2.8,78.5,28.98,30.06
1,1989,5,14,0.00,-110.1,-2.5,2.4,NaN,24.95,25.23
2,1993,6,28,2.04,-110.2,-4.5,5.9,NaN,25.78,27.84
3,1995,1,8,1.98,-140.0,-7.7,1.2,82.6,26.47,26.86
4,1995,2,21,5.01,-170.0,-5.4,-6.6,75.2,28.83,28.90

In [30]:
df.corr()

,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
year,1.000000,-0.049355,-0.002275,-0.002274,-0.013361,-0.045173,-0.192424,-0.037977,0.212008,0.219676
month,-0.049355,1.000000,0.010564,-0.000169,-0.006366,0.048058,0.225312,-0.140442,-0.137345,-0.098703
day,-0.002275,0.010564,1.000000,-0.002158,-0.002984,0.009165,0.003823,-0.004931,-0.005773,-0.003908
latitude,-0.002274,-0.000169,-0.002158,1.000000,0.039898,0.127751,0.002152,0.169732,0.070133,0.127508
longitude,-0.013361,-0.006366,-0.002984,0.039898,1.000000,0.419216,-0.118610,-0.039895,0.350036,0.425969
zon.winds,-0.045173,0.048058,0.009165,0.127751,0.419216,1.000000,0.071219,0.062317,0.210095,0.342753
mer.winds,-0.192424,0.225312,0.003823,0.002152,-0.118610,0.071219,1.000000,0.120932,-0.385561,-0.334296
humidity,-0.037977,-0.140442,-0.004931,0.169732,-0.039895,0.062317,0.120932,1.000000,-0.409888,-0.355206
air temp.,0.212008,-0.137345,-0.005773,0.070133,0.350036,0.210095,-0.385561,-0.409888,1.000000,0.949209
s.s.temp.,0.219676,-0.098703,-0.003908,0.127508,0.425969,0.342753,-0.334296,-0.355206,0.949209,1.000000

In [32]:
df.describe()

,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
count,104409.000000,104409.000000,104409.000000,104409.000000,104409.000000,89839.000000,89839.000000,65615.000000,96571.000000,104409.000000
mean,1992.710715,6.753517,15.781666,0.559597,-53.070046,-3.505847,0.451069,81.245035,26.689702,27.535275
std,2.941256,3.450238,8.796154,4.586084,134.416226,3.222261,2.927329,5.371216,1.905292,2.167564
min,1980.000000,1.000000,1.000000,-8.810000,-180.000000,-12.400000,-10.800000,54.000000,17.050000,17.340000
25%,1991.000000,4.000000,8.000000,-2.010000,-140.200000,-5.900000,-1.500000,77.600000,25.750000,26.450000
50%,1993.000000,7.000000,16.000000,0.010000,-110.200000,-4.200000,0.400000,81.200000,27.160000,28.080000
75%,1995.000000,10.000000,23.000000,4.990000,147.000000,-1.800000,2.400000,84.800000,28.060000,29.190000
max,1996.000000,12.000000,31.000000,9.050000,171.100000,12.500000,11.000000,99.900000,31.480000,31.270000